<section class="text-white text-center">
  <div class="container d-flex flex-column"  style="min-height:80vh;">

  <div class="row mt-auto">
      <div class="col-lg-8 col-sm-12 text-center mx-auto">
          <h1 class="display-4 mb-3">Basthor Marketplace</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">

                <input class="form-control form-control-lg" placeholder="Busca tu Tienda" id="search" type="text">

          <ul class="list-inline my-5">
              <li class="list-inline-item">
                  <a class="h4 text-light p-2" href="#">
                      <i class="fab fa-twitter"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a class="h4 text-light p-2" href="#">
                      <i class="fab fa-facebook"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a class="h4 text-light p-2" href="#">
                      <i class="fab fa-dribbble"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a class="h4 text-light p-2" href="#">
                      <i class="fab fa-instagram"></i>
                  </a>
              </li>
          </ul>
      </div> <!-- col.// -->
  </div> <!-- row.// -->

  </div>
  </section>
  <div class="container">
  <section class="section-content padding-y">
    <header class="section-heading">
        <h1 class="my-4"> <span class="badge badge-warning">Tiendas</span></h1>
    </header><!-- sect-heading -->

            <br>
            <%# link_to "Pagar Proveedores", payout_batches_path, method: :post, class: 'btn btn-success' %>
    <div class="row" id= "shops">
        <% @shops.each do |shop| %>
        <div class="col col-md-3" id="<%= shop.id%>">
        <figure class="card card-product">
          <div class="img-wrap">
              <% if shop.images.attached? %>
              <a href="<%= shop_path(shop)%>"><%= image_tag(shop.images.second.variant(resize: '400x266'), class: 'img-top')%></a>
            <% end %>
            <a class="btn-overlay" href="#">
          </div>
          <figcaption class="info-wrap">
            <a href="#" class="title"><%= shop.name %></a>
            <div class="action-wrap">
              </div> <!-- price-wrap.// -->
          </figcaption>
        </figure> <!-- card // -->
      </div>
        <% end %>
    </div>
  </div>
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


              <%= render  "modal" %>


              <script>
                  $('#search').keyup(function(){
                    $.ajax({
                      type: "GET",
                      url: "<%= search_shops_path%>",
                      data: {search: $('#search').val()},
                      success: function (response) {

                      }
                });
                  });
                </script>
