<div class="container">
                <table id="cart" class="table table-hover table-condensed">
                  <thead>
                    <tr>
                      <th style="width:50%">Producto</th>
                      <th style="width:10%">Precio</th>
                      <th style="width:8%">Cantidad</th>
                      <th style="width:22%" class="text-center">Subtotal</th>
                      <th style="width:10%"></th>
                    </tr>
                  </thead>
                  <tbody>
        <% @orders.each do |order| %>
                        

                    <tr id="<%= order.id%>">
                      <td data-th="Product">
                        <div class="row">
                          <div class="col-sm-2 hidden-xs"><%= image_tag(order.product.image.variant(resize: '150x150'),class:"img-responsive") %></div>
                          <div class="col-sm-10">
                            <h4 class="nomargin"></h4>
                          </div>
                        </div>
                      </td>
                      <td data-th="Price"><%= order.product.price %></td>
                      <td data-th="Quantity">
                        <%= link_to(less_item_order_path(order), method: :patch,data:{remote: true}) do%>
                          <i class="fas fa-minus-square"></i>
                        <% end %>
                        
                        <span class="badge badge-warning" id="item_quantity_<%= order.id%>"><%= order.quantity%> </span><%= link_to(add_item_order_path(order), method: :patch, data: {remote: true}) do %>
                          <i class="fas fa-plus-square"></i>
                        <% end %>
                      </td>
                      <td data-th="Subtotal" class="text-center"><%= order.quantity * order.product.price%></td>
                      <td class="actions" data-th="">
                        <%= link_to(order_path(order), data:{remote: true, confirm: 'Estas Seguro?'}, method: :delete, class:'btn btn-danger') do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><a href="<%= :back %>" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                      <td><%= link_to(empty_cart_orders_path,method: :delete, class: 'btn btn-danger') do%>
                        <i class="fas fa-backspace"></i>
                      <% end %>
                      </td>
                      <td colspan="1" class="hidden-xs"></td>
                      <td class="hidden-xs text-center"><strong id="total"><i class="fas fa-money-bill-alt"></i> <%= @total %></strong></td>
                      <td><%= link_to  '<i class="fab fa-paypal"></i>'.html_safe, pre_pay_billings_path, method: :post,data:{remote: true},class:"btn btn-success btn-block"  %></td>
                    </tr>
                  </tfoot>
                </table>
              </div>