<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col col-md-12">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th>PayID</th>
      <th>Locacion de despacho</th>
      <th scope="col">Productos</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <% @orders_per_user.each do |key, value| %>
     
    <tr>
      <th scope="row"><span class="badge badge-warning"><%= key %></span></th>
      <th><span class="badge badge-success"><%= value.map{|order| order.billing.code}.first %></span></th>
      <th><span class="text-white bg-dark"><%= value.map{|order| order.billing.address}.first %></span></th>
      <td> 

          <% value.map{|order| [order.product.name,order.quantity]}.each do |product|  %>
        <span class="badge badge-warning"><%= product.first %></span> <span class= "badge badge-info"><%= product.second %></span><br>
        <%end %>
    </td>
    <td><%= link_to "Marcar Como despachado", dispached_order_path(key), method: :patch, class: 'btn btn-warning' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>