<div class="container">
<h1><span class="badge badge-warning"><%= @category.name %></span></h1>
<div class="row">
      <div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">

                <input class="form-control form-control-lg" placeholder="Busca tu Producto" id="search" type="text">
              </div>
            </div>
            <br>
<div class="row" id='products'>
<% @category.products.each do |product| %>
<article class="card card-product" id="<%= product.id%>">
    <div class="card-body">
    <div class="row">
      <aside class="col-sm-3">
        <div class="img-wrap"><a href="<%= shop_product_path(product.shop.id, product)%>"><%= image_tag(product.image.variant(resize: '800x800'),class: "card-img-top") %></a></div>
      </aside> <!-- col.// -->
      <article class="col-sm-6">
          <h4 class="title"><%= product.name %></h4>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
          </div> <!-- rating-wrap.// -->
          <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
          <dl class="dlist-align">
          </dl>  <!-- item-property-hor .// -->
          <dl class="dlist-align">
              <dt>Categorias</dt>
                <% product.categories.each do |category| %>
                <dd><span class="badge badge-success"><%= category.name %></span></dd>
                <% end %>
                </dl>  <!-- item-property-hor .// -->
            
        
      </article> <!-- col.// -->
      <aside class="col-sm-3 border-left">
        <div class="action-wrap">
          <div class="price-wrap h4">
            <span class="price"><%= product.price %></span>	

          </div> <!-- info-price-detail // -->
          <p class="text-success">Free shipping</p>
          <br>
          <p>
              <% if can? :update, Product %>

              <% else %>
                <% if product.stock == 0 %>
                          <button type="button" class="btn btn-info" name="button">Producto Agotado</button>
                    <%else %>
                      <%= link_to(shop_product_orders_path(product.shop,product),data: {remote: true}, method: :post) do  %>
                                                 <button class="btn btn-primary">Agregar al Carrito <i class="fas fa-shopping-cart"></i></button>

                                                <% end %>
                      <%end%>
              <% end %>
          </p>
        </div> <!-- action-wrap.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
    </div> <!-- card-body .// -->
  </article> <!-- card product .// -->

<% end %>
</div>
</div>


 <script>
                  $('#search').keyup(function(){
                    $.ajax({
                      type: "GET",
                      url: "<%= search_category_path(@category) %>",
                      data: {search: $('#search').val()},
                      success: function (response) {

                      }
                });
                  });
                </script>