<div id="<%= product.id %>"></div>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><%= image_tag(product.image.variant(resize: '200x200'), class: "card-img-top") %></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#"><%= product.name%></a>
                    </h4>
                    <h5><span class="badge badge-success">$<%=product.price%></span><span class="badge badge-warning">Stock:<%= product.stock %></span></h5>
              
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>