<div class="container">
          <br>
          <br>
          <br>      
        <div class="float-right"><a href="<%= shop_path(@product.shop)%>"><i class="fas fa-store fa-2x text-gray-300"></i></a></div> 
        <br>
        <br>
        <div class="card">
                <div class="row">
                        <aside class="col-sm-5 border-right">
        <div class="img-big-wrap">
          <div><%= image_tag(@product.image.variant(resize: '600x700')) %></div>
        </div> <!-- slider-product.// -->

                        </aside>
                        <aside class="col-sm-7">
        <article class="card-body p-5">
                <h3 class="title mb-3"><%= @product.name %></h3>
        
        <p class="price-detail-wrap"> 
                <span class="price h3 text-warning"> 
                        <span class="currency">USD $</span><span class="num"><%= @product.price%></span>
                </span>  
        </p> <!-- price-detail-wrap .// -->
        <dl class="item-property">
          <dt>Descripcion</dt>
          <dd><p><%= @product.description  %></p></dd>
        </dl>
        <dl class="item-property">
                <dt>Categorias</dt>
                <% @product.categories.each do |category|  %>
                <a href=""><span class="badge badge-warning"><%=category.name%></span></a>
                <% end %>
              </dl>
        <dl class="param param-feature">
          <dt>Stock</dt>
          <dd><h2><span class="badge badge-warning"><%= @product.stock %></span></h2></dd>
        </dl>  <!-- item-property-hor .// -->
        
        
        <hr>
                <div class="row">
                        <div class="col-sm-5">
                        <div class="col-sm-7">

                        </div> <!-- col.// -->
                </div> <!-- row.// -->
                <hr>
                <% if can? :update, Product %>
                <% else %>
                <% if @product.stock == 0 %>
                          <button type="button" class="btn btn-info" name="button">Producto Agotado</button>
                    <%else %>
                      <%= link_to(shop_product_orders_path(@product.shop,@product),data: {remote: true}, method: :post) do  %>
                                                 <button class="btn btn-primary">Agregar al Carrito <i class="fas fa-shopping-cart"></i></button>

                                                <% end %>
                      <%end%>
              <% end %>
        </article> <!-- card-body.// -->
                        </aside> <!-- col.// -->
                </div> <!-- row.// -->
        </div> <!-- card.// -->


        